body {
    background-color: darkmagenta;
}


#main {
    background-color: white;
    height: 35em;

}

  #question {
      text-align: center;
      margin-bottom: 20px;
  }

  #page {
      text-align: center;
      margin-top: 20px;
      color: pink;
  }

  #welcome {
      text-align: center;
      color: whitesmoke;
      margin-bottom: 20px;
  }

  #citypic {
      text-align: center;
  }

  #start {
      text-align: center;
      margin: 50px 20px;
  }

  h6 {
      margin: 30px 30px;
      color: seagreen;
  }

  ul{
    list-style: none;
    text-align: center;
}

li{
    font-family: 'Rokkitt', serif;
    font-size: 1em;
    color: #feb135;
    
    
}

input[type=radio]{
    border: 0px;
    width: 20px;
    height: 2em;
}

/* Quiz Classes */
h1 {
    color: yellow;
    text-align: center;
}

.quizContainer {
    background-color: darkslateblue;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    padding-top: 5px;
    position: relative;
}

.nextButton{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: yellow;
    color: darkmagenta;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
}

.question{
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: lightgrey;
    text-align: center;
    color: darkorchid;
}

.quizMessage{
    background-color: darkkhaki;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Rokkitt', serif;
    color: darkred;
}

.choiceList {
    font-family: Arial, Helvetica, sans-serif;       
    color: blueviolet;
}

.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Rokkitt', serif;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }